.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css or background.css */

/* Set the global background image */
body {
  /* background-image: url('/path/to/your/background-image.jpg'); */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh; /* Ensures the background covers the whole viewport */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Default overlay for non-home pages */
.page-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4); /* A semi-transparent black overlay */
  z-index: -1; /* Behind the content */
}

.page-container {
  z-index: 1; /* Above the overlay */
  padding: 20px;
  color: white; /* Make text readable on dark background */
  display: flex;
}
